# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [5]:
number = 7
print(number)

7

##### Assinging float

In [5]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [10]:
x = 2 + 3
print(x)

5

##### Subtraction

In [11]:
y = 5 - 2
print(y)

3

##### Multiplication

In [9]:
num1 = 5
num2 = 10

resultmul = num1 * num2
print(resultmul)
resultmul *= 2
print(resultmul)

50
100

##### Division

In [11]:
result = num2 / num1
print(result)
result /= 2
print(result)

2.0
1.0

##### Floor Division

In [13]:
result_floor = num2 // num1
print(result_floor)

0

##### Modulo

In [16]:
num1 = 13
num2 = 5
resultmod = num1 % num2
print(resultmod)

3

##### Exponential

In [18]:
square = 5 ** 2
print(square)
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [21]:
name = "another name"
print(name)

another name

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("this is my first name:", name)
print("Full name", name, end=" name name")

this is my first name: another name
Full nname  another name name name

##### String Concatenation

In [32]:
end = "last name!"
fullname = name + " " + end
print(fullname)

fullname += ", jr"
print(fullname)

another name last name!
another name last name!, jr

##### Type Conversion

In [46]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [45]:
x = int(input("What is your age"))

print(x + 5)

What is your age55
60

##### format()

In [55]:
name = "jojo"
age = input("What is your age")
resultstring = "you are {} {} and you are getting older".format(age, name)
print(resultstring)
resultagain = f"{age} is a great time"
print(resultagain)

What is your age12
you are 12 jojo and you are getting older
12 is a great time

##### Old Way (python 2)

In [56]:
resultstring2 = "you are %s and you look great for your age!" %age
print(resultstring2)

you are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [57]:
color = input("What is the color? ")
year = input("What is the year ")
make = input("What is the make ")
model = input("What is the model ")

print(f"The {model} {make} is {color} and is from the year {year}")

What is the color? black
What is the year 2011
What is the make chevy
What is the model camaro
The camaro chevy is black and is from the year 2011

### If Statements

In [62]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 2
num2 = 10
if num1 == 5:
    print("Its 5")
elif num1 == 6:
    print("its 6")
elif num1 == 2:
    print("Its 2")
else:
    print("its something else")

Its 2

##### 'is' keyword

In [64]:
#the is keyword is for checking for the same object but not the same value

num3= 55
if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [66]:
#check if a character is in a strong

charname = "Frodo baggins"

if "Frodo" in charname:
    print("the ring")

the ring

##### 'not in' keyword'

In [69]:
segachar = "sonic"

if "a" not in segachar:
    print("a isnt here")

a isnt here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [71]:
x = input("type some keys and we'll check if a p is in it")

if "p" in x:
    print("p is in the input")
else:
    print("P isnt here")

type some keys and we'll check if a p is in itasdfasdfasdf p
p is in the input

## Using 'and'/'or' with If Statements

In [78]:
num11 = 15
num12 = 3
num13 = 10
num14 = 3

if num11 / 5 == num12 and num13 - 7 == num14:
    print("true and true")
    
if num13 == num12 or num11 > num12:
    print("true and false")

true and true
true and false

### Elif Statements

In [80]:
firstn = input("What is your name ")

if firstn == "Smith":
    print("Name is Smith")
elif firstn == "Brandon":
    print("name is brandon ")
elif firstn != "Max":
    print("Not max")

What is your name Smith
Name is Smith

### Else Statements

In [ ]:
# see above

### For Loops

In [87]:
# syntax 
# for counter in condition
name = "brandon"
alist = [1,2,3,4,5]
for t in alist:
    print(t)

1
2
3
4
5

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [93]:
name = "brandon"
for i in name:
    if i == "a":
        continue
    print(i)

b
r
n
d
o
n

##### Break Statement

In [ ]:
# will break out of current loop

In [94]:
for i in range(20):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [95]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ",j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [97]:
#syntax while keyword, condition statement
num = 0
while num < 10:
    
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [100]:
y = True
while y == True:
    print("true")
    y = False

true

##### While & For Loops Used Together

In [102]:
num = 0
while num < 5:
    print("\n While loop interation: " + str(num))
    
    for i in range(2):
        print("For loop ineration ",str(i))
    num += 1

 While loop interation: 0
For loop ineration  0
For loop ineration  1

 While loop interation: 1
For loop ineration  0
For loop ineration  1

 While loop interation: 2
For loop ineration  0
For loop ineration  1

 While loop interation: 3
For loop ineration  0
For loop ineration  1

 While loop interation: 4
For loop ineration  0
For loop ineration  1

### Built-In Functions

##### range()

In [106]:
# range(start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [107]:
name = input("What is name opf fav book")

length = len(name)
print(length)

What is name opf fav booklord of flies
13

##### help()

In [109]:
#use this function to view more info about python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [115]:
#check a variable to find out what object family or data type it belongs to
#isinstance(var, type)

num = 4.5

if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4.5 is a float

##### abs()

In [116]:
# /-5/ = 5 sbsolute value

print(abs(-5))

5

### Try and Except

In [127]:
#use this to log out graceful and useful error messages
#does not stop the program

try:
    
    inputn = int(input("guess a number"))
    
    print("your number is: " + str(inputn))
except:
    print("that didnt work change into a number please")

guess a number4.5
that didnt work change into a number please

### Lists

##### Declaring Lists

In [7]:
list1 = []
names = ['max', 'cindy', 'kathy', 'bob', 'nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [145]:
#list_name[start: stop: step]

#single index
print(names[4])

#print starting at index 1 and going to the end

print(names[1:])

# print starting at the beginning of a list up until a number
print(names[:2])

#pprint starting at index 1 and going up by 2 in each interation
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

nate
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']

##### .append()

In [4]:
names.append("brandon")
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'brandon']

##### .insert()

In [5]:
names.insert(3, "Devon")
print(names)

['max', 'cindy', 'kathy', 'Devon', 'bob', 'nate', 'brandon']

##### .pop()

In [ ]:
#defaults to the last value if no prarmeters is given
#pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)


##### .remove()

In [8]:
# value to be removed rather than index
names.remove("bob")
print(names)

#remove multiple brandons from list
while "brandon" in names:
    names.remove("brandon")
print(names)

['max', 'cindy', 'kathy', 'nate']
['max', 'cindy', 'kathy', 'nate']

##### del()

In [9]:
# goes by index rather than value
# be careful with del it can cause indexing errors if not used carefully

del(names[1])
print(names)

['max', 'kathy', 'nate']

##### Concatenating Two Lists

In [13]:
#will append two lists together, will not add the values

anotherlist = [0,1,2,3]
anotherlist2 = [0,1,2,3,4,5]

large_list = anotherlist + anotherlist2
print(large_list)

[0, 1, 2, 3, 0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#lsits can hold any type of other data type including other lists
#theyh can go as deep as you want this is called ensted lists

names = ["max", "sam", "josh", ["sally", "sue", "tameka"]]
print(names)
print(names[3][1])

##### Looping Through Lists

In [17]:
#two ways to loop through a lsit one by index the other is by using the in keyword

#by index
for i in range(len(names)):
    print(names[i])
    
print(len(names))
#loop with in
for name in names:
    print(name)

max
sam
josh
['sally', 'sue', 'tameka']
4
max
sam
josh
['sally', 'sue', 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [18]:
i = 1
while True:
    cube = i ** 3
    if cube > 1000:
        break
    print(cube)
    i += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [19]:
prime = []
for num in range(2, 101):
    if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
        prime.append(num)

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [22]:
x = input("What is your age? ")
x = int(x)
if x < 18:
    print("Kids")
elif x >= 18 and x <= 65:
    print("Adults")
else:
    print("Seniors")

What is your age? 66
Seniors